h1 {
    text-align:center;
    color:green;
}
.coc {
   text-align:center;
   color:green;
   font-size:20px;
}
body {
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX6691402.jpg");
}
.img {
    display:none;
}
    